<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Event</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let event of events">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ event.title }}</h4>
                <p class="list-group-item-text">{{ event.desc }}</p>
            </div>
            <span class="pull-right">
                <img [src]="event.imageUrl" alt="{{ event.title }}" class="img-responsive" style="max-height: 80px; max-width: 120px">
            </span>
        </a>
        <app-event-guest></app-event-guest>
    </div>
</div>
