<div class="row">
    <div class="col-xs-12">
        <img 
            src="" 
            alt="event title" 
            class="img-responsive"
            style="max-height: 300px">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Event Title</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button 
                type="button" 
                class="btn btn-primary dropdown-toggle">
                Manage Event<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Add Guests to RSVP</a></li>
                <li><a href="#">Edit Event</a></li>
                <li><a href="#">Delete Event</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Event Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Guests
    </div>
</div>
